.Rproj.user
.Rhistory
.RData
src/*.d
src/*.h.gch
/clion-test.R
windows/*
CRAN-RELEASE
tests/testthat/testthat-problems.rds
configure.log
.deps/
autobrew
cleanup
.vscode
.Renviron
CRAN-SUBMISSION
/build
