# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: r
cache: packages
sudo: false

services:
  - postgresql
addons:
  postgresql: "9.4"
  apt:
    packages:
      - libpq-dev

env:
  global:
  - NOT_CRAN: true

matrix:
  include:
  - os: osx
  - os: linux
    r: devel
  - os: linux
    r: release
  - os: linux
    r: oldrel
  - os: linux
    r: 3.2

after_success:
  - Rscript -e 'covr::codecov()'

notifications:
  email:
    on_success: change
    on_failure: change
